@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

main {
  align-items: center;
  display: flex;
}

.controls,
.spacer {
  width: 150px;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.slider::-moz-range-thumb {
  background: black;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.grid {
  box-shadow: #0000001a 0 0 10px 2px;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 32px;
  width: 600px;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
}

.cell:not(:first-child) {
  border-left: 1px solid #0000001a;
}

.row:not(:last-child) .cell {
  border-bottom: 1px solid #0000001a;
}

.active {
  background-color: black;
  /* border-left: 1px solid transparent !important; */
  /* border-bottom: 1px solid transparent !important; */
}
